@import "tailwindcss";


/* .header-right {
    display: flex;
} */

.products {
    padding: 20px;
    text-align: center;
    background-color: #ebe5e9;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    padding: 20px;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
    margin-top: 10px;
}

.product-info p {
    font-size: 20px;
    color: #e81f91;
}

.product-card img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
}

.product-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info button {
    background-color: #e81f91;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}